#CMake / C++ Core
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
compile_commands.json
*.o
*.a
*.so
*.out

# Shadow binaries
/core/shadow
/bin/

#OS & IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~
