#CMake / C++ Core
build/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
compile_commands.json
*.o
*.a
*.so
*.out

# Shadow binaries
/core/shadow
/bin/

#OS & IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*~

# IDE and OS files
.vscode/
.DS_Store

# Generated eBPF Artifacts
core/src/bpf/shadow.bpf.o
core/src/bpf/shadow.skel.h
core/src/bpf/vmlinux.h
*.tgz
